@model IEnumerable<DocumentsCirculation.Models.DocumentBuy>

@{
    ViewBag.Title = "DocBuyIndex";
}

<h2>Список документов покупки</h2>

<p>
    @Html.ActionLink("Добавить документ типа покупки", "DocBuyCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.documentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shelflife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.signerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.documentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shelflife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.signerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "DocBuyEdit", new { id = item.documentID })
            @Html.ActionLink("Просмотреть", "DocBuyDetails", new { id = item.documentID })
            @Html.ActionLink("Удалить", "DocBuyDelete", new { id = item.documentID })
        </td>
    </tr>
}

</table>
