@model DocumentsCirculation.Models.DocumentSale

@{
    ViewBag.Title = "DocSaleDetails";
}

<h2>Просмотр документа продажи</h2>

<div>
    <h4>Документ продажи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер документа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentID)
        </dd>

        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Дата создания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
            ID автора
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorID)
        </dd>

        <dt>
            Статус
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            Хранить до
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelflife)
        </dd>

        <dt>
            ID подписывающего
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signerID)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            Название продукции
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            Количество штук
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productammount_num)
        </dd>

        <dt>
            Цена за одну штуку)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productprice_for_one)
        </dd>

        <dt>
            ID покупателя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buyerID)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Редактировать", "DocSaleEdit", new { id = Model.documentID }) |
    @Html.ActionLink("К списку документов продаж", "DocSaleIndex")
</p>
<hr />
<p>
    @Html.ActionLink("К списку всех документов", "AllIndex", "Administration") |
    @Html.RouteLink("Отправить на редактирование", new { controller = "Administration", action = "WriteComment", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Отправить на подписание", new { controller = "Administration", action = "SendForSign", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Подписать", new { controller = "Administration", action = "Sign", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Отправить на удаление", new { controller = "Administration", action = "SendForDrop", id = Model.documentID }, new { id = Model.documentID, @class = "link" })
</p>
