@model IEnumerable<DocumentsCirculation.Models.DocumentSale>

@{
    ViewBag.Title = "DocSaleIndex";
}

<h2>Список документов продажи</h2>

<p>
    @Html.ActionLink("Добавить документ типа продажи", "DocSaleCreate")
</p>
<table class="table">
    <tr>
        <th>
            Номер документа
        </th>
        <th>
            Название
        </th>
        <th>
            Дата создания
        </th>
        <th>
            ID автора
        </th>
        <th>
            Статус
        </th>
        <th>
            Комментарий
        </th>
        <th>
            Хранить до
        </th>
        <th>
            ID подписывающего
        </th>
        <th>
            Тип
        </th>
        <th>Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.documentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shelflife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.signerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "DocSaleEdit", new { id = item.documentID }) |
            @Html.ActionLink("Просмотреть", "DocSaleDetails", new { id = item.documentID }) |
            @Html.ActionLink("Удалить", "DocSaleDelete", new { id = item.documentID })
        </td>
    </tr>
}

</table>
