@model DocumentsCirculation.Models.DocumentInside

@{
    ViewBag.Title = "DocInsideDetails";
}

<h2>Просмотр внутреннего документа</h2>

<div>
    <h4>Внутренний документ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.documentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelflife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelflife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moneydifference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneydifference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetID)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Редактировать", "DocInsideEdit", new { id = Model.documentID })|
    @Html.ActionLink("К списку внутренних документов", "DocInsideIndex")
</p>
<hr />
<p>
    @Html.ActionLink("К списку всех документов", "AllIndex", "Administration") |
    @Html.RouteLink("Отправить на редактирование", new { controller = "Administration", action = "WriteComment", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Отправить на подписание", new { controller = "Administration", action = "SendForSign", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Подписать", new { controller = "Administration", action = "Sign", id = Model.documentID }, new { id = Model.documentID, @class = "link" }) |
    @Html.RouteLink("Отправить на удаление", new { controller = "Administration", action = "SendForDrop", id = Model.documentID }, new { id = Model.documentID, @class = "link" })|
    @Html.ActionLink("Удалить", "DocInsideDelete", new { id = Model.documentID })
</p>
