@model DocumentsCirculation.Models.DocumentInside

@{
    ViewBag.Title = "DocInsideDelete";
}

<h2>Удаление внутреннего документа</h2>

<h3>Вы уверены, что хотите удалить этот документ?</h3>
<div>
    <h4>Внутренний документ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelflife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelflife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moneydifference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneydifference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
            @Html.ActionLink("К списку внутренних документов", "DocInsideIndex")
        </div>
    }
    @Html.ActionLink("К списку всех документов", "AllIndex", "Administration")
</div>
