@model DocumentsCirculation.Models.DocumentReport

@{
    ViewBag.Title = "DocReportDelete";
}

<h2>Удаление документа отчета</h2>

<h3>Вы уверены, что хотите удалить этот документ?</h3>
<div>
    <h4>DocumentReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelflife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelflife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stats)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "DocReportIndex")
        </div>
    }
</div>
